@charset "utf-8";
@media screen and (orientation:landscape) and (min-width:992px) and (max-width:1200px) {
  .contenido .imagen-principal {
    order: 1;
    flex-grow: 2;
    width: 25%;
  }
  .contenido .descripcion {
    order: 2;
    flex-grow: 1;
    width: 20%;
  }
  .contenido .imagen-secundaria {
    width: 25%;
    order: 3;
    flex-grow: 2;
  }
  header .container {
    display: flex;
    flex-direction: row;
  }
}